@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    font-family: 'Fjalla One', sans-serif;
    
}
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.bold{
    font-weight: bolder;
    color: aliceblue;
}

/* Header style */

.header-logo{
    float:left;
    width: 550px;
    height: 210px;
    background:url("../images/Pawesome_2.png") no-repeat center center;
    background-size: cover;
}

.menu{
    width: 75%;
    height: 210px;
    color:#7A4850;
    line-height: 100px;
    padding-left: 500px;
    text-align: center;
    top:50%;
    left:50%;

}

.menu li{
    display:inline-block;
    padding:20px;
}
.menu a{
    color:#7A4850;
    font-weight: bold;
    font-size: 350%;
}

.menu a:hover{
    text-decoration-line: underline;
}

/* Hero Image */

#hero-outer{
    height: 900px;
    width:100%;
    overflow: hidden;
    position:relative;
}

#hero-image{
    height: inherit;
    width:100%;
    /*background:url("../images/We_care_about_your_best_friends_1920_700_px_2100_700_px_2200_700_px.png") no-repeat center center;*/
    background-size: cover;
    position: relative;
}

#hero-text{
    font-size:1.5vw;
    text-align: center;
    color: #7A4850;
    position: absolute;
    width: inherit;
    height: inherit;
    top: 22%;
    left: 27%;
}

/* Home page Why Pawesome */

.Why-pawesome-outer{
    height: 800px;
    width:100%;
    overflow: hidden;
    position:relative;
}

#awesome-pawesome{
    font-size:2vw;
    text-align: center;
    color: #7A4850;
    width: inherit;
    height: inherit;
    font-weight: bold;
}

.offers-left{
    width:33%;
    height: auto;
    float:left;
    padding-left:50px;
    position: relative;
}

.offers-right{
    width:33%;
    height: auto;
    float:right;
    padding-right: 50px;
    position: relative; 
}

.offers-center{
    width:33%;
    height: auto;
    margin:auto;
    margin-top: 300px;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
}

#center{
    display: block;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* Interactive overlay taken from: https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.overlay-info{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #7A4850;
    padding-left: 50px;
    padding-right: 50px;
}

.offers-left:hover .overlay-info, .offers-right:hover .overlay-info, .offers-center:hover .overlay-info{
    opacity: 1;
}

.overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: whitesmoke;
    text-shadow:2px 2px black;
}

/* Media queries taken from: https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488 and  */
@media screen and (max-width:1200px){



}

/* Packages details */

.packages-outer{
    height: 700px;
    width:100%;
    overflow: hidden;
    position:relative;
}

#packages-image{
    height: inherit;
    width:100%;
    /*background:url("../images/We_care_about_your_best_friends_1920_700_px_2100_700_px_2200_700_px.png") no-repeat center center;*/
    background-size: cover;
    position: relative;
}



/* Footer details */
footer{
    height: 200px;
    width: auto;
    background-color: #7A4850;

}

#footer-left{
    line-height: 20px;
    float:left;
    padding-left: 50px;
    color:lightgray;
}

#footer-right{
    line-height: 20px;
    float:right;
    padding-right: 50px;
    color:lightgray;
}

#footer-center{
    text-align: center;
    font-size: large;
    color:lightgray;
    
}

