@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}
.body{
    max-width: 2000px;
    margin: auto;
    color: #7A4850;
}
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.bold{
    font-weight: bolder;
    color: aliceblue;
}

header{
    height: 170px;
}

/* Header style */

/* Header logo */

.header-logo{
    float:left;
    margin-top: 1px;
    width: 27rem;
    height: 10.6rem;
    background:url("../images/Pawesome_logo.png") no-repeat center center;
    background-size: cover;
}
/* Header nav menu */
.menu{
    float:right;
    width:50rem;
    height: 3rem;
    color:#7A4850;
    line-height: 50px;
    text-align: center;
    padding: 35px 0;
}

.menu li{
    display:inline-block;
    padding:20px;
}
.menu a{
    color:#7A4850;
    font-weight: bold;
    font-size: 2rem;
}

.menu a:hover{
    text-decoration-line: underline;
}

/* Hero Image */

/* Home and about page Hero image container */
#hero-outer{
    height: auto;
    width: 100%;
    overflow: hidden;
    position:relative;
}

#hero-image{
    height: auto;
    width:100%;
    position: relative;
    object-fit: cover;
}

/* Home page Hero image text */
#home-hero-text{
    font-size:1.5vw;
    text-align: center;
    color: #7A4850;
    position: absolute;
    top: 10vw;
    right: 17vw;
}

/* About page Hero image text */
#about-hero-text{
    font-size:1.2vw;
    text-align: center;
    color: #7A4850;
    position: absolute;
    width: 20vw;
    height: 22vw;
    top: 10vw;
    left: 30vw;
}
/* About page Gallery */

/* About page Gallery container */
.gallery{
    height: auto;
    width: 100%;
    overflow: hidden;
    position:relative;
}
/* About page video dimention and position */
.video{
    display: block;
    margin: 0 auto;
    padding-bottom: 10vw;
}

/* Home page Why Pawesome */

/* Home page Why Pawesome container */
.Why-pawesome-outer{
    height: 25vw;
    width:100%;
    overflow: hidden;
    position:relative;
    padding-top: 5vw;
}
/* Home page Why Pawesome head text */
.awesome-pawesome{
    font-size:2vw;
    text-align: center;
    color: #7A4850;
    width: inherit;
    height: inherit;
    font-weight: bold;
}
/* Home page Why Pawesome div containers, left right center */
.offers-left{
    width:25%;
    height: auto;
    float:left;
    padding-left:40px;
    position: relative;
    object-fit: contain;
}

.offers-right{
    width:25%;
    height: auto;
    float:right;
    padding-right: 40px;
    position: relative; 
    object-fit: contain;
}

.offers-center{
    width:25%;
    height: auto;
    margin:auto;
    position: relative;
    object-fit: contain;

}
/* Interactive overlay taken from: https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.overlay-info{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30vw;
    height: 15vw;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #7A4850;
    padding-left: 50px;
    padding-right: 50px;
}

.offers-left:hover .overlay-info, .offers-right:hover .overlay-info, .offers-center:hover .overlay-info{
    opacity: 1;
}

.overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: whitesmoke;
    text-shadow:2px 2px black;
    font-size: 1vw;
}

/* Class for center image */
.center{
    display: block;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* Class for center text */
.center-text{
    display: block;
    height: 20vw;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
}

/* Packages details */

/* Home page Packages details container */
.packages-outer{
    height: 35vw;
    width:100%;
    overflow: hidden;
    position:relative;
    padding-top: 0;
}
/* Home page, Packages images, left/first, right/second, center/third */
.mini-img{
    width:33%;
    height: auto;
    float:left;
    padding-left:0;
    position: relative;
    object-fit: contain;
}
.standard-img{
    width:33%;
    height: auto;
    margin:auto;
    position: relative;
    object-fit: contain;
}
.spa-img{
    width:33%;
    height: auto;
    float:right;
    padding-right: 0;
    position: relative; 
    object-fit: contain;
}
/* Home page, Packages text, left/first, right/second, center/third */
.mini-text{
    font-size:1.25vw;
    text-align: center;
    color: #7A4850;
    position: absolute;
    width: inherit;
    height: inherit;
    top: 50%;
    right: 33%;
}
.standard-text{
    font-size:1.25vw;
    text-align: center;
    color: #7A4850;
    position: absolute;
    width: inherit;
    height: inherit;
    top: 50%;
    left: 0%;
}

.spa-day-text{
    font-size:1.25vw;
    text-align: center;
    color: #7A4850;
    position: absolute;
    width: inherit;
    height: inherit;
    top: 50%;
    left: 33%;
}

/* Contact details */

/* Contact page, form and map container */
.contact-section{
    height: 40vw;
    position: relative;
}
/* Contact page, form container */
.contact-container-left{
    position: absolute;
    float: left;
    margin-left: 5vw;
    box-sizing: border-box;
    width: 40%;
    height: 30vw;
    border-radius: 9px;
    background-color: #B1D4E0;
    color:black;
    padding: 3vw;
    font-size: 1vw;

}
/* Contact page, map container */
.contact-container-right{
    position: relative;
    float: right;
    margin-right: 5vw;
    box-sizing: border-box;
    width: 40%;
    height: 30vw;
    border-radius: 9px;
    background-color: #B1D4E0;
    padding: 3vw;
    font-size: 1vw;

}
/* Tips about map responsive taken from https://blog.duda.co/responsive-google-maps-for-your-website */
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* Contact page, form input IDs */
#full-name{
    font-size: 1vw;
    width: 100%;
    margin-top: 0.5vw;
}
#email{
    font-size: 1vw;
    width: 100%;
    margin-top: 0.5vw;
}
/* Contact page, form select drop down */
form select{
    font-size: 1vw;
    width: 100%;
    margin-top: 0.5vw;
}
/* Contact page, form submit button + hover */
form input[type=submit]{
    font-size: 1vw;
    border-radius: 3px;
    background-color: white;
    padding: 3px;
}

form input[type=submit]:hover{
    background-color:#7A4850;
}
/* Contact page, form text-area */
#message{
    font-size: 1vw;
    width: 100%;
    margin-top: 0.5vw;
    height: 5vw;
    font-size: 1rem;
}

/* Footer details */

/* Footer attributes */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 8vw;
    width: 100%;
    background-color: #7A4850;
    font-size: 1vw;

}
footer h3{
    font-size: 1vw;
}
/* Footer left section */
#footer-left{
    float:left;
    padding-left: 50px;
    color:lightgray;
}
/* Footer right section */
#footer-right{
    float:right;
    padding-right: 50px;
    color:lightgray;
}
/* Footer center section */
#footer-center{
    text-align: center;
    color:lightgray;
    height: inherit;    
}

/* Footer link styling */
footer a{
    color: lightgray;
}

/* Media queries taken from: https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488 and https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
/* For wide screen */
@media screen and (min-width:1999px){
    /* Contain hero text when screen width is larger than hero img */
    #home-hero-text{
        font-size:30px;
        top: 197.9px;
        right: 336.4px;

    }
    #about-hero-text{
        font-size:25px;
        width: 400px;
        height: 300px;
        top: 197.7px;
        left: 599.1px;
    }
}
/* For laptops and lower res desktops */
@media screen and (max-width:1235px){
    /* Setting header nav menu size */    
    .menu{
        width: 25rem;
        padding: 0;
    }
    /* Contain hero img and scale with screen */
    #hero-image{
        height: inherit;
        width:100%;
        background-size: cover;
    }


}
/* For Ipads and lower res devices */
@media screen and (min-width:480px) and ( max-width:835px){
    /* Ensure header and its element's size are suitable */
    header{
        height: 96px;
    }
    .header-logo{
        float:left;
        margin: 0;
        padding: 0;
        width: 10rem;
        height: 6rem;
        background-size: contain;
    }
    .menu{
        float:right;
        text-align: right;
        width:19rem;
        height: 2.2rem;
        padding: 0;
        line-height: 90px;
    }
    .menu li{
        padding:2px;
    }
    .menu a{
        font-size: 1rem;
    }
    /* About page, scale up video for better view when width is less than height */
    .video{
        width: 250px;
        height: 500px;
        display: block;
        margin: 0 auto;
        padding-bottom: 10vw;
    }
        /* Contact page, form container */
    .contact-container-left{
        position: relative;
        float: none;
        width:70%;
        height: 40vw;
        margin:auto;
        object-fit: contain;
        margin-top: 0vw;
        border-radius: 9px;
        padding: 3vw;
        font-size: 1.5vw;
    }
    /* Contact page, map container */
    .contact-container-right{
        position: relative;
        float: none;
        width:70%;
        height: 40vw;
        margin:auto;
        object-fit: contain;
        padding-bottom: 10vw;
        margin-top: 2vw;
        border-radius: 9px;
        padding: 3vw;;
    }
    /* Contact page, scale font for tower view*/
    #full-name{
        font-size: 1.5vw;
    }
    #email{
        font-size: 1.5vw;
    }
    form select{
        font-size: 1.5vw;
    }
    form input[type=submit]{
        font-size: 1.5vw;
    }
    #message{
        font-size: 1vw;
        height: 10vw;
    }
}
/* For Phones and older devices */
@media screen and (max-width:480px){
    /* Scale down the header elements */
    header{
        height: 70px;
    }
    .header-logo{
        margin: -10px 0 -30px 0;
        width: 10rem;
        height: 6rem;
    }
    .menu{
        float:right;
        text-align: right;
        width:15rem;
        height: 1.1rem;
        padding: 0;
        line-height: 80px;
    }
    .menu li{
        padding:1px;
    }
    .menu a{
        font-size: 0.8rem;
    }
    /* Scale down contact page font */
    .contact-container-left{
        font-size: 1vw;
    }
    /* Home page, packages change format to tower instead of side by side */
    .packages-outer{
        height: 120vw;
        width:100%;
        overflow: hidden;
        position:relative;
        padding-top: 0;
    }
    
    .mini-img{
        float: none;
        width:85%;
        margin:auto;
        position: relative;
        object-fit: contain;
        padding-bottom: 10vw;
    }
    .standard-img{
        width:85%;
        margin:auto;
        position: relative;
        object-fit: contain;
        padding-bottom: 10vw;
    }
    .spa-img{
        float: none;
        width:85%;
        margin:auto;
        position: relative;
        object-fit: contain;
        padding-bottom: 10vw;
    }
    
    .mini-text{
        font-size:1.25vw;
        text-align: center;
        color: #7A4850;
        position: absolute;
        width: inherit;
        height: inherit;
        top: 32vw;
        left: 0%;
    }
    .standard-text{
        font-size:1.25vw;
        text-align: center;
        color: #7A4850;
        position: absolute;
        width: inherit;
        height: inherit;
        top: 110vw;
        left: 0%;
    }
    
    .spa-day-text{
        font-size:1.25vw;
        text-align: center;
        color: #7A4850;
        position: absolute;
        width: inherit;
        height: inherit;
        top: 70vw;
        left: 0%;
    }
     /* Home page, pawesome offers overlay size correction */
    .overlay-info{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 2vw;
        height: 15vw;
        opacity: 0;
        transition: 0.5s ease;
        background-color: #7A4850;
        padding-left: 50px;
        padding-right: 50px;
    }
    #center-text{
        display: block;
        height: 20vw;
        margin-left: auto;
        margin-right: auto;
        width: 5vw;
    }
    /* About page, scale up video for better view on tall screen */
    .video{
        width: 250px;
        height: 500px;
        display: block;
        margin: 0 auto;
        padding-bottom: 10vw;
        padding-top: 20vw;
    }
    /* Contact page, form container */
    .contact-container-left{
        position: relative;
        float: none;
        width:85%;
        height: 70vw;
        margin:auto;
        object-fit: contain;
        padding-bottom: 10vw;
        margin-top: 5vw;
        border-radius: 9px;
        padding: 3vw;
        font-size: 2vw;
    }
    /* Contact page, map container */
    .contact-container-right{
        position: relative;
        float: none;
        width:85%;
        height: 70vw;
        margin:auto;
        object-fit: contain;
        padding-bottom: 10vw;
        margin-top: 5vw;
        border-radius: 9px;
        padding: 3vw;
    }
    /* Contact page, scale font for tower view*/
    #full-name{
        font-size: 2vw;
    }
    #email{
        font-size: 2vw;
    }
    form select{
        font-size: 2vw;
    }
    form input[type=submit]{
        font-size: 2vw;
    }
    #message{
        font-size: .5vw;
        height: 30vw;
    }
}
/* For older Phones */
@media screen and (max-width:400px){
    /* Scale down the header elements */    
    header{
        height: 2rem;
    }
    .header-logo{
        float: left;
        margin: 0;
        padding: 0;
        width: 4rem;
        height: 2rem;
    }
    .menu{
        float:right;
        text-align: right;
        width:12rem;
        height: 1.1rem;
        padding: 0;
        line-height: 20px;
    }
    .menu li{
        padding:1px;
    }
    .menu a{
        font-size: 0.5rem;
    }
}